@model List<Produto>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container small">
    <div>
        <a asp-action="AddEdit" asp-controller="Produtos" class="btn btn-outline-primary">Adicionar</a>
    </div>
</div> <br />
<div class="container small">
    <table class="table table-sm ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Tipo</th>
                <th scope="col">Valor</th>
                <th scope="col">Descricao</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="item-@item.Id">
                    <th scope="row">@item.Id</th>
                    <td>@item.Nome</td>
                    <td>@item.Tipo.Nome</td>
                    <td>@item.Valor</td>
                    <td>@item.Descricao</td>
                    <td>
                        <a asp-action="AddEdit" asp-controller="Produtos" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Editar</a> |
                        <button onclick="Excluir('@item.Id', '@item.Nome')" class="btn btn-outline-danger btn-sm">Excluir</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
<div data-id="0" class="modal" tabindex="-1" role="dialog" id="del-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir o produto: <b><span id="nome-item"></span> </b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="ConfirmaExclusao()">Excluir</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/methods_pt.js"></script>
    <script>
    var _url = '@Url.Action("Excluir")';

    function Excluir(id, nome) {
         $('#nome-item').text(nome);
         $('#del-modal').data('id', id).modal('show');
    }

    function ConfirmaExclusao() {
        var _id = $('#del-modal').data('id');

        $.ajax({
            url: _url,
            data: {id: _id},
            dataType: 'json',
            type: 'delete',
            success: function () { toastr.success("Produto removido com sucesso!", "Exclusão:") },
            error: function () { toastr.error("Erro ao remover produto!", "Exclusão:") },
            complete: function () {
                $('#del-modal').modal('hide');
                $(`#item-${_id}`).remove();
            }
        })
    }
    </script>
}
